@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;800&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Manrope';
}

.site-container {
    max-width: 1110px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    transition: all 0.2s;
}

button {
    transition: all 0.4s;
}

.active {
    color: #d87d4a;
}

.site-footer {
    margin-top: auto;
}